.row {
  --bs-gutter-x: 0;
}
@media (min-width: 320px) and (max-width: 575.98px) {
  html {
    width: 100%;
  }
  .social-absolute {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .offer {
    h1 {
    text-align: center;
    margin: 30px auto 0 !important;
      font-size: 24px !important;
      line-height: 35px;
      max-width: 300px !important;
    }
    &__subtitle {
      margin: 41px auto 41px ;
      max-width: 225px !important;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
    &__social_icon {
        margin: 70px auto 0px;
    }
  }
  .btn-absolute {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
  }
.btn-info {
    margin-top: 25px !important;
    margin-bottom: 61px !important;
}
  .btn__start {
    display: block !important;
    margin: 0 auto !important;
    width: 205.1px !important;
    height: 52px !important;
  }
  .concept {
    max-height: 700px;
    background-size: 100% 90%;
  }
  .concept__promo_img {
    position: absolute;
    width: 275px;
    height: 246.85px;
    top: 454px;
    left: 50%;
    transform: translateX(-48%);
  }


img {
    object-fit: scale-down;
}

  .feauters {
    #feauters-xs {
        padding-top: 6px;
      font-size: 25px !important;
      line-height: 39px;
      margin-bottom: 20px;
    }
    img {
        width: 54px;
height: 64px;
      margin: 0 auto !important;
    }
    h2 {
        
        text-align: center;
      font-size: 18px;
      line-height: 25px;
    }
    p {
        text-align: center;
        width: 300px;
        height: 80px;
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto !important;
    }
    &__item_img {
        display: flex;
        justify-content: center;
    }
  }

  .card-1 {
      margin-bottom: 0px;
  }

#text-info {
    margin-top: 0px !important;
}
  .info-wrapper {
      flex-direction: column !important;
  }
  .info {
    min-height: 120px;
    height: 400px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    img {
        display: block;
      width: 238.61px;
      height: 181px;
      margin: 0 auto !important;
    }
    h2 {
      font-size: 20.0515px;
      line-height: 23px;
      text-align: center !important;
    }

    &-descr {
        width: 303px;
    }
    &__text_descr {
      font-size: 16px;
      line-height: 20px;
      width: 303px;
      height: 124px;
      margin: 0 auto;
    }

  }



  .tarif {
    padding-top: 10px !important;
    height: 1980px !important;
    min-height: auto !important;
    max-height: unset !important;
    background-size: 100% 30% !important;
    &-header-xs {
      font-size: 28px;
      line-height: 39px;
    //   margin-top: 70px;
      margin-bottom: 44px;
    }
    &__card_header {
      font-size: 36px;
      line-height: 39px;
    }
    &__card_price {
      font-size: 36px;
      line-height: 39px;
    }
    &__cards {
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-bottom: 70px;
    }
    &__card {
      margin-bottom: 10px !important;
      width: 304px !important;
      height: 449px !important;
    }
    &__subinfo {
      h2 {
        font-size: 20px !important;
        line-height: 24px;
      }
    }
    &__subinfo {
      margin: 0 auto !important;
    }
    &__subinfo_header {
        width: 304px;
        height: 69px;
        margin: 0 auto;
      margin-bottom: 25px;
    }
    &__subinfo_descr {
      font-size: 16px;
      line-height: 20px;
      width: 304px;
      height: 57px;
      margin-bottom: 58px;
    }
    &__subinfo_form {
      width: 303px;
      height: 127px;
      margin: 0 auto;
    }
    &__subinfo_input {
      width: 303px;
      height: 52px;
      padding: 5px 25px 5px 25px;
    }
    .btn__form {
      position: relative;
      margin-top: 23px !important;
    }
  }

  .footer__wrapper {
    
    width: 100% !important;
    height: 200px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;

  }
 .footer__nav, .btn__footer {
      margin: 0 auto;
  }


  .panel__logo {
      margin-left: 50%;
      transform: translateX(-40%);
      width: 120px;
      margin-bottom: 0;
      min-height: 35px !important;
      img{
          width: 100%;
          height: 100%;
      }
  }

  .footer__nav {
      margin-top: 0;
      width: 100%;
  }



  .modal__window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    /* display: none; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(108, 82, 213, 0.46);
    backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 8px;
  }
  
  .modal__window_dialog {
    width: 259px !important;
    height: 381px !important;
    max-width: 800px;
    margin: 100px auto;
    
  }
  
  .modal__window_content {
    position: relative;
    width: 100%;
    padding: 30px 12px 33px 12px !important;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-height: 80vh;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
  
  }
  
    .modal__window_close {
    position: absolute;
    top: 0px;
    right: 14px;
  
    font-size: 35px;
    color: #828282;
    opacity: 0.5;
    font-weight: 300;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal__title{
      margin: 0 auto !important;
      width: 239px !important;
      height: 50px !important;
      font-weight: 500 !important;
      font-size: 18px !important;
      line-height: 25px;
      color: rgba(24, 24, 24, 1) !important;
      align-items: center;
      text-align: center !important;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
    }
  
  

  
  
  form {
      margin-top: 34px;
      input {
          padding: 1rem;
          width: 225.33px !important;
          height: 50px !important;
          background: #FFFFFF;
          border: 1px solid #828282;
          box-sizing: border-box;
          border-radius: 100px;
          outline: none;
          margin-bottom: 12px;
          margin: 0 auto 12px;
          &:focus {
              outline: none;
          }
  
      }
  }

  .btn-modal-container {
    position: relative;
    width: 221px !important;
      height: 52px !important;
    margin-top: 30px !important;
    margin-bottom: 17px;
    
}
  .btn__modal {
      width: 221px !important;
      height: 52px !important;
  }
  
  .modal__window_content {
      a {
          color: #7E67D8;
          text-decoration-line: underline;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 118.34%;
      }
  }

}
















  @media (min-width: 769px) and (max-width: 991.98px) {
    .offer__title {
      font-size: 47.8px !important;
      text-align: center;
    }
    .feauters {
      padding-top: 80px;
      h2 {
        margin-bottom: 0;
      }
      p{
          margin: 0 auto;
          margin-top: 10px;
      }
      &__item {
        text-align: center;
        min-height: 225px;
        margin-top: 45px;
        img {
          display: flex !important;
          justify-content: center !important;
          margin-left: 0 !important;
        }
        &_img {
          display: flex !important;
          justify-content: center !important;
          margin-left: 0 !important;
        }
      }
    }
    .concept {
      height: 1035px;
      background-size: 100% 85%;
    }
    .offer__title {
      font-size: 51.8px;
    }
  
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .panel__logo {
      max-width: 140px;
    }
    .concept__promo_img {
      top: 540px;
      right: 50%;
      transform: translateX(+50%);
    }
  
    .info {
      max-height: 2500px !important;
    }
    #text-info {
        margin-top: 0 !important;
        text-align: center !important;
    }
    .info__text {
      margin-top: 0;
      min-width: 469px;
      &_descr {
        text-align: center;
      }
    }
    .info-wrapper {
      display: flex !important;
      flex-direction: column !important;
      
      img {
          height: 80%;
      }
  }
  
    .tarif {
      min-height: 1031px;
      max-height: 1101px;
      margin-top: 85px;
    padding-top: 40px;
    background-size: 100% 53% !important;
      // margin-bottom: -250px;
      &__card {
        position: relative;
        width: 225px;
        height: 528px;
        border: 1px solid #828282;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 33px;
        margin-bottom: -120px;
      }
    }
    .btn-md {
      width: 191px !important;
      height: 63px;
      border: none;
      background-color: #34dd45;
      border-radius: 61.5463px;
      color: #fff;
      font-size: 17.9463px;
      line-height: 32px;
      outline: 0;
    }
    .btn-md-card {
      width: 191px !important;
      height: 63px;
      border: none;
      background-color: rgba(255, 255, 255, 0.87);
      border-radius: 61.5463px;
      color: #322f2f;
      font-size: 17.9463px;
      line-height: 32px;
      outline: 0;
    }
    .tarif {
      height: 1245px;
      background-color: #f2f2f2;
      background: url(../img/bg_test.svg) no-repeat;
      background-position-y: bottom;
      background-size: 100% 65%;
      margin-top: 145px;
    }
    .btn-absolute {
      position: absolute;
      left: 0;
    }
    .social-absolute {
      position: absolute;
      left: -1rem;
      margin-top: 6rem;
    }
    
  }

  
  



















// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (min-width: 576px) and (max-width: 768px) { 
    img {
        object-fit: scale-down;
    }
    .social-absolute {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
      }
      .offer {
        h1 {
            text-align: center;
        margin: 81px auto 0 !important;
          font-size: 24px !important;
          line-height: 35px;
          max-width: 300px !important;
        }
        &__subtitle {
          margin: 41px auto 41px ;
          max-width: 225px !important;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
        }
        &__social_icon {
            margin: 81px auto 0px;
        }
      }
      .btn-absolute {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
      }
    .btn-info {
        margin-top: 25px !important;
        margin-bottom: 61px !important;
    }
      .btn__start {
        display: block !important;
        margin: 0 auto !important;
        width: 205.1px !important;
        height: 52px !important;
      }
      .concept {
        max-height: 740px;
        background-size: 100% 92%;
      }
      .concept__promo_img {
        position: absolute;
        width: 275px;
        height: 246.85px;
        right: 50%;
        transform: translateX(50%);
        top: 499px;
      }
    
      .feauters {
        .feauters-xs {
            padding-top: 50px;
            margin-bottom: 60px;
          font-size: 26px;
          line-height: 39px;
        }
        
        &__item_img {
 width: 100%;
            display: flex !important;
            justify-content: center !important;
            img {
                width: 54px;
                height: 64px;
               margin-left: 0;
            }
        }
        #img-1 {
            margin-left: 0;
        }
        // img {
        //   margin: 0 auto !important;
        // }
        h2 {
            text-align: center;
          font-size: 18px;
          line-height: 25px;
        }
        p {
            text-align: center;
          width: 302px;
          height: 60px;
          font-size: 16px;
          line-height: 20px;
          margin: 0 auto !important;
        }
      }
    
      .info {
        min-height: 120px;
        height: 320px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        align-content: center;
        img {
            display: block;
          width: 238.61px;
          height: 181px;
          margin: 0 auto !important;
        }
        h2 {
          font-size: 20.0515px;
          line-height: 23px;
          text-align: center !important;
        }
    #text-info {
        margin-top: 75px;
    }
    #img-info {
        margin-top: 60px;
    }
        &-descr {
            width: 303px;
        }
        &__text_descr {
          font-size: 16px;
          line-height: 20px;
          width: 303px;
          height: 124px;
          margin: 0 auto;
        }
    
      }
    
    
    
      .tarif {
        padding-top: 70px !important;
        height: 1980px !important;
        min-height: auto !important;
        max-height: unset !important;
        background-size: 100% 30% !important;
        &-header-xs {
          font-size: 20px;
          line-height: 39px;
        //   margin-top: 70px;
          margin-bottom: 44px;
        }
        &__card_header {
          font-size: 36px;
          line-height: 39px;
        }
        &__card_price {
          font-size: 36px;
          line-height: 39px;
        }
        &__cards {
          flex-direction: column !important;
          align-content: center;
          align-items: center;
          margin-bottom: 70px;
        }
        &__card {
          margin-bottom: 10px !important;
          width: 304px !important;
          height: 449px !important;
        }
        &__subinfo {
          h2 {
            font-size: 20px !important;
            line-height: 24px;
          }
        }
        &__subinfo {
          margin: 0 auto !important;
        }
        &__subinfo_header {
            width: 304px;
            height: 69px;
            margin: 0 auto;
          margin-bottom: 25px;
        }
        &__subinfo_descr {
          font-size: 16px;
          line-height: 20px;
          width: 304px;
          height: 57px;
          margin-bottom: 58px;
        }
        &__subinfo_form {
          width: 303px;
          height: 127px;
          margin: 0 auto;
        }
        &__subinfo_input {
          width: 303px;
          height: 52px;
          padding: 5px 25px 5px 25px;
        }
        .btn__form {
          position: relative;
          margin-top: 23px !important;
        }
      }
    
      .footer__wrapper {
        
        width: 100% !important;
        height: 200px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
    
      }
     .footer__nav, .btn__footer {
          margin: 0 auto;
      }
    
    
      .panel__logo {
          margin-left: 50%;
          transform: translateX(-40%);
          width: 120px;
          margin-bottom: 0;
          min-height: 35px !important;
          img{
              width: 100%;
              height: 100%;
          }
      }
    
      .footer__nav {
          margin-top: 0;
      }
    
    
    
      .modal__window {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        /* display: none; */
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba(108, 82, 213, 0.46);
        backdrop-filter: blur(17px);
      /* Note: backdrop-filter has minimal browser support */
      
      border-radius: 8px;
      }
      
      .modal__window_dialog {
        width: 259px !important;
        height: 381px !important;
        max-width: 800px;
        margin: 100px auto;
        
      }
      
      .modal__window_content {
        position: relative;
        width: 100%;
        padding: 30px 12px 33px 12px !important;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        max-height: 80vh;
        z-index: 2000;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
      
      }
      
        .modal__window_close {
        position: absolute;
        top: 0px;
        right: 14px;
      
        font-size: 35px;
        color: #828282;
        opacity: 0.5;
        font-weight: 300;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      
      .modal__title{
          margin: 0 auto !important;
          width: 239px !important;
          height: 50px !important;
          font-weight: 500 !important;
          font-size: 18px !important;
          line-height: 25px;
          color: rgba(24, 24, 24, 1) !important;
          align-items: center;
          text-align: center !important;
          letter-spacing: 0.2px;
          margin-bottom: 30px;
        }
      
      
    
      
      
      form {
          margin-top: 34px;
          input {
              padding: 1rem;
              width: 225.33px !important;
              height: 50px !important;
              background: #FFFFFF;
              border: 1px solid #828282;
              box-sizing: border-box;
              border-radius: 100px;
              outline: none;
              margin-bottom: 12px;
              margin: 0 auto 12px;
              &:focus {
                  outline: none;
              }
      
          }
      }
    
      .btn-modal-container {
        position: relative;
        width: 221px !important;
          height: 52px !important;
        margin-top: 30px !important;
        margin-bottom: 17px;
        
    }
      .btn__modal {
          width: 221px !important;
          height: 52px !important;
      }
      
      .modal__window_content {
          a {
              color: #7E67D8;
              text-decoration-line: underline;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 118.34%;
          }
        }
     }
    



    



     @media (min-width: 992px) and (max-width: 1200px){

        img {
            object-fit: scale-down;
        }
        .offer__title {
            font-size: 47.8px !important;
            text-align: center;
          }
          .feauters {
            padding-top: 80px;
            h2 {
            text-align: center;
              margin-bottom: 0;
              
            }

            p{
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 30px;
            }
            &__item {
              text-align: center;
              min-height: 225px;
              margin-top: 45px;
              img {
                display: flex !important;
                justify-content: center !important;
                margin-left: 0 !important;
              }
              &_img {
                display: flex !important;
                justify-content: center !important;
                margin-left: 0 !important;
              }
            }
          }
          .concept {
            height: 1040px;
            background-size: 100% 85%;
            h1 {
                margin: 0 auto;
            }
            span {
                display: inline-block;
                text-align: center;
                margin: 0 auto;
            }
            
          }

          .icon-set {
            //   margin-top: 50px !important;
          }
          .social-absolute {
              left: 50% !important;
              transform: translateX(-165%);
          }
          .btn-absolute {
              margin-top: 30px;
              margin-left: 50%;
              transform: translateX(-50%);
          }
          .offer__title {
            font-size: 51.8px;
          }
          .offer__social_icon {
              
          }
        
          .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .panel__logo {
            max-width: 140px;
          }
          .concept__promo_img {
            top: 540px;
            right: 50%;
            transform: translateX(+50%);
          }
        
          .info {
            max-height: 2500px !important;
            height: 600px;
            &__img {
                margin: 0 auto;
            }
            &__text_descr {
                margin: 0 auto;
                 width: 56%;
            }
          }
          #text-info {
              margin-top: 0 !important;
              text-align: center !important;
          }
          .info__text {
            margin-top: 0;
            min-width: 469px;
            &_descr {
              text-align: center;
            }
          }
          .info-wrapper {
            display: flex !important;
            flex-direction: column !important;
            
            img {
                height: 80%;
            }
        }

        
          .tarif {
            min-height: 1000px;
            max-height: 1001px;
            padding-top: 70px;
            background-size: 100% 42% !important;
            // margin-bottom: -250px;
            &__card {
              position: relative;
              width: 275px;
              height: 528px;
              border: 1px solid #828282;
              border-radius: 16px;
              display: flex;
              flex-direction: column;
              align-content: center;
              align-items: center;
              padding-top: 33px;
              margin-bottom: -120px;
            }
          }
          .btn-md {
            width: 191px !important;
            height: 63px;
            border: none;
            background-color: #34dd45;
            border-radius: 61.5463px;
            color: #fff;
            font-size: 17.9463px;
            line-height: 32px;
            outline: 0;
          }
          .btn-md-card {
            width: 191px !important;
            height: 63px;
            border: none;
            background-color: rgba(255, 255, 255, 0.87);
            border-radius: 61.5463px;
            color: #322f2f;
            font-size: 17.9463px;
            line-height: 32px;
            outline: 0;
          }
          .tarif {
            height: 1245px;
            background-color: #f2f2f2;
            background: url(../img/bg_test.svg) no-repeat;
            background-position-y: bottom;
            background-size: 100% 65%;
            margin-top: 145px;
          }
          .btn-absolute {
            position: absolute;
            left: 0;
          }
          .social-absolute {
            position: absolute;
            left: -1rem;
            margin-top: 6rem;
          }
.tarif__subinfo_header {
    margin: 0 auto;
}

.tarif__subinfo_descr {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarif__subinfo_form {
    margin: 0 auto;
}
    
     }






