// Устройства X-Small (портретные телефоны, менее 576 пикселей)
@media (max-width: 575.98px) { 
    .social-absolute {
        position: absolute;
            left: 50% !important;
            transform: translateX(-50%);
    }
    .offer {
        h1 {
            font-size: 24px !important;
            line-height: 35px;
        }
        &__subtitle {
            margin: 41px 0 41px 0;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
        &__social_icon {
            margin: 40px auto 69px;
        }
        
    }
    .btn-absolute {

        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
}
    
    .btn__start {
        display:block !important;
        margin: 0 auto !important;
        width: 211.1px !important;
        height: 52px !important;
    }
    .concept {
        max-height: 700px;
    }
    .concept__promo_img {
        position: absolute;
        width: 275px;
        height: 223.85px;
        // margin: -540px 50% 0px;
        // transform: translateX(-50%);
    }
 }

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
// @media (max-width: 767.98px) { 
   
//  }

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 991.98px) { 
    .offer__title {
        font-size: 47.8px !important;
        text-align: center;
    }
    .feauters{
        padding-top: 80px;
        h2 {
            margin-bottom: 0;
        }
        &__item {
            text-align: center;
            min-height: 225px;
            margin-top: 45px;
            &_img {
                display:flex;
                justify-content: center;
                
            }
        }
    }
    .concept {
        height: 940px;
    }
    .offer__title {
        font-size : 51.8px;
    }
    .panel__logo{
        max-width: 140px;
    }
    .concept__promo_img{
        top: 540px;
        right: 50%;
        transform: translateX(+50%);
    }
    .info__text {
        margin-top: 0; 
        min-width: 469px;
        &_descr {
            text-align: center;
        }
    }
    .tarif {
        min-height: 1000px;
        max-height: 1001px;
        // margin-bottom: -250px;
    &__card {
        position: relative;
        width: 225px;
        height: 528px;
        border: 1px solid #828282;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 33px;
        margin-bottom: -120px;
 }
}
 .btn-md {
    width: 191px;
    height: 63px;
    border: none;
    background-color: #34dd45;
    border-radius: 61.5463px;
    color: #fff;
    font-size: 17.9463px;
    line-height: 32px;
    outline: 0;
 }
 .btn-md-card {
    width: 191px;
    height: 63px;
    border: none;
    background-color: rgba(255,255,255,.87);
    border-radius: 61.5463px;
    color: #322f2f;
    font-size: 17.9463px;
    line-height: 32px;
    outline: 0;
 }
 .tarif {
    height: 1245px;
    background-color: #f2f2f2;
    background: url(../img/bg_tarif.jpg) no-repeat;
    background-position-y: bottom;
    background-size: 100% 65%;
    margin-top: 145px;
}
.btn-absolute {
    
        position: absolute;
        left: 0;
    
}
.social-absolute {
    position: absolute;
        left: -1rem;
        margin-top: 6rem;
}
}
// Устройства Large (настольные компьютеры, менее 1200 пикселей)
// @media (max-width: 1199.98px) { ... }

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
// @media (max-width: 1399.98px) { ... }