@import 'libs/bootstrap-reboot.min';
@import url('/src/sass/base/_fonts.scss');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container__ASP {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}