@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';

//assets
@import 'base/variables';
@import 'base/typography';
@import 'base/mixins';

//bloks
@import 'blocks/concept';
@import 'blocks/feauters';
@import 'blocks/info';
@import 'blocks/tarif';
@import 'base/media';
@import 'blocks/footer';

@import 'blocks/modal';
@import 'blocks/button';


* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', sans-serif;
}


.hidden {
    display: none;
}