.info {
    background-color: white;
    max-height: 480px !important;
    
    &__img {
        margin-top: 30px;
    }
    &__text {
        margin-top: 104px;
        // width: 436px;
        text-align: center;
    }
.info-wrapper {
    display: flex;
    flex-direction: row;
}

    #text-info {
grid-area: paragraph;
margin-top: 170px;
    }

    #img-info {
        grid-area: img;
    }
    &-descr {
        font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    }
    
}